[flake8]

# E251 complains about unexpected spaces around keyword/parameter equals
# E303 complains about more than one blank lines between methods in a class

ignore = E303
exclude = setup.py,build,dist,tests,extras,.git