#extends change_Change



#block details
#if $change.collect()
$subchanges
#end if
#end block



#block subchanges
<div class="collect">
#for child in $change.collect
$render_change(child)
#end for
</div>
#end block



##
## The end.
