#extends change_Change


#def render_lnt(caption, lnt)
<table>

<caption><%= caption %></caption>
<thead>
<tr>
<th>Start Index</th>
<th>Line Number</th>
</tr>
</thead>

#for offset,line in $lnt
<tr>
<td><%= offset %></td>
<td><%= line %>
</tr>
#end for

</table>
#end def


#block description
$self.change.label
#end block


#block details
<div class="details">
<div class="vertical ldata">
$render_lnt("Original", $change.get_ldata())
</div>

<div class="vertical rdata">
#if $change.is_change()
#set caption = "Changed"
#else
#set caption = "Unchanged"
#end if
$render_lnt($caption, $change.get_rdata())
</div>
</div>
#end block


##
## The end.
