#extends change_Change


#def render_constants(caption, consts)
#from xml.sax.saxutils import escape

<table>
<caption><%= caption %></caption>
<thead>
<tr>
<th>Index</th>
<th>Type</th>
<th>Value</th>
</tr>
</thead>

#for i,t,v in consts
<tr>
<td class="const-index"><%= i %></td>
<td class="const-type"><%= t %></td>
<td class="const-value"><%= escape(str(v)) %></td>
</tr>
#end for

</table>
#end def


#block details
<div class="details">

<div class="vertical ldata">
$render_constants("Original", $change.pretty_ldata())
</div>

<div class="vertical rdata">
#if $change.is_change()
#set caption = "Changed"
#else
#set caption = "Unchanged"
#end if
$render_constants($caption, $change.pretty_rdata())
</div>

</div>
#end block


##
## The end.
