#extends change_Change


#def render_disassembly(caption, dis)
<table>

<caption><%= caption %></caption>
<thead>
<tr>
<th>Index</th>
<th>Opcode</th>
<th>Args</th>
</tr>
</thead>

#for offset,code,args in $dis
<tr>
<td><%= offset %></td>
<td><%= code %></td>
<td><%= ", ".join(map(str, args)) %></td>
</tr>
#end for

</table>
#end def


#block unused_details
<div class="details">
<div class="vertical ldata">
$render_disassembly("Original", $change.pretty_ldata())
</div>

<div class="vertical rdata">
#if $change.is_change()
#set caption = "Changed"
#else
#set caption = "Unchanged"
#end if
$render_disassembly($caption, $change.pretty_rdata())
</div>
</div>
#end block


##
## The end.
