<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


#def title
$change.__class__.__name__
#end def


<head>


#block head_title
<!-- entering report.head_title -->
<title>$title</title>
<!-- exiting report.head_title -->
#end block


#block head_meta
<!-- entering report.head_meta -->
<!-- exiting report.head_meta -->
#end block


#block head_stylesheets
<!-- entering report.head_stylesheets -->
#if $options.html_stylesheets
#for ss in $options.html_stylesheets
<link rel="stylesheet" type="text/css" href="$ss" />
#end for
#else
<style type="text/css">
div {
  margin-left: 1em;
  font: 10pt sans;
}
.unchanged {
  color: green;
}
.changed {
  color: red;
}
.ignored {
  color: orange;
}
</style>
#end if
<!-- exiting report.head_stylesheets -->
#end block


#block head_javascripts
<!-- entering report.head_javascripts -->
#for js in $options.html_javascripts
<script type="text/javascript" src="$js"></script>
#end for
<!-- exiting report.head_javascripts --> 
#end block


#block head_extra
<!-- entering report.head_extra -->
<!-- exiting report.head_extra -->
#end block


</head>


#block body
<!-- entering report.body -->
<body>


#block body_heading
<div id="report-heading">


#block body_breadcrumb
#from os.path import join
<ul class="breadcrumbs">
#for p,t in $breadcrumbs
<li><a href="<%= join(p,t+".html") %>"><%= t %></a></li>
#end for
<li>$title</li>
</ul>
</ul>
#end block


<h1>$title</h1>
</div>
#end block


#block into
<div id="report-intro">
</div>
#end block


#block details
<!-- entering report.details -->
<div id="report-details">
#for $child in $change.collect()
$render_change($child)
#end for
</div>
<!-- exiting report.details -->
#end block


#block outro
<div id="report-outro">
</div>
#end block


</body>
<!-- exiting report.body -->
#end block


</html>


##
## The end.
