#extends javatools.cheetah.change_Change
#from javatools.cheetah import xml_entity_escape as escape
#implements respond


<%
ch = getattr(self, "change")
opts = getattr(self, "options")

cl = ["Change"]
cl.append(type(ch).__name__)
cl.append(ch.origclass.__name__)

if ch.is_change():
    cl.append("is_changed")
    if ch.is_ignored(opts):
        cl.append("is_ignored")
else:
    cl.append("is_unchanged")

cl = " ".join(cl)
%>


<div class="<%= cl %>">
#block description
<%
change = getattr(self, "change")
oc = change.origclass
uri = "%s/%s.html" % (change.entry, oc.report_name)
%>
$escape($change.entry)
<span class="moreinfo">[<a href="<%= uri %>">details</a>]</span>
#end block
</div>


##
## The end.
