#extends javatools.cheetah.subreport
#from javatools.cheetah import xml_entity_escape as escape
#from six.moves import zip_longest


#block details
<div class="details">
<div class="lrdata">
#if $change.is_change()
$render_dual_annotations($change.get_ldata(), $change.get_rdata())
#else
$render_annotations($change.get_ldata())
#end if
</div>
</div>
#end block


#block description
<div class="description">$change.label</div>
#end block


#def render_annotations(annos)
<table class="annotations">
<thead>
<tr>
<th>Index</th>
<th>Annotation</th>
</tr>
</thead>
#for index in range(0, len(annos))
<tr>
<td class="const-index"><%= index %></td>
<td class="const-value"><%= annos[index].pretty_annotation() %></td>
</tr>
#end for
</table>
#end def


#def render_dual_annotations(left, right)
<table class="annotations">
<thead>
<tr>
<th rowspan="2">Index</th>
<th colspan="2">Annotation</th>
</tr>
<tr>
<th>Original</th>
<th>Changed</th>
</tr>
</thead>
<% index = 0 %>
#for la, ra in zip_longest(left, right)
<tr>
<td class="const-index"><%= index %></td>
<td class="const-value">
<%= (la and la.pretty_annotation()) or "" %></td>

#if (la == ra)
<td class="const-value is_unchanged">
<%= (ra and ra.pretty_annotation()) or "" %></td>
#else
<td class="const-value is_changed">
<%= (ra and ra.pretty_annotation()) or "" %></td>
#end if
</tr>
<% index += 1 %>
#end for
</table>
#end def


##
## The end.
