#extends javatools.cheetah.change_Change
#from javatools.cheetah import xml_entity_escape as escape



#block description
<%
change = getattr(self, "change")
info = change.get_ldata()
a = info.get_name()
b = ", ".join(info.pretty_arg_types())
c = info.pretty_type()
%>
<h3><%= escape("%s(%s):%s" % (a, b, c)) %></h3>
<div class="description">Method Removed</div>
#end block



#block details
<div class="details">
<div class="lrdata">
$method_table($change.get_ldata())
</div>
</div>
#end block



#def method_table(info)
<table class="left-headers">
$row("Method Name", info.get_name())
$row("Return Type", info.pretty_type())
$row("Argument Types", "(%s)" % ", ".join(info.pretty_arg_types()))
$row("Method Flags", "0x%04x: %s" %
      (info.access_flags, " ".join(info.pretty_access_flags())))

#if info.get_signature()
$row("Generics Signature", info.get_signature())
#end if

#if info.get_exceptions()
$row("Exceptions", ", ".join(info.pretty_exceptions()))
#end if

#if not info.get_code()
$row("Abstract", "True")
#end if

#if info.is_deprecated()
$row("Deprecated", "True")
#end if

</table>
#end def



#def row(label, data)
<tr>
<th>$label</th>
<td><%= escape(data) %></td>
</tr>
#end def



##
## The end.
