#extends javatools.cheetah.change_Change
#from javatools.change import collect_by_typename
#from javatools.cheetah import xml_entity_escape as escape



#block description
<%
change = getattr(self, "change")
ldata = change.get_ldata()
a = ldata.get_name()
b = ", ".join(ldata.pretty_arg_types())
c = ldata.pretty_type()
%>
<h3><%= escape("%s(%s):%s" % (a, b, c)) %></h3>
#end block



#block details
<%
change = getattr(self, "change")
data = collect_by_typename(change.collect())
%>

<div class="details">
<div class="lrdata">

<table class="left-headers">
$sub_name(data.pop("MethodNameChange")[0])
$sub_type(data.pop("MethodTypeChange")[0])
$sub_args(data.pop("MethodParametersChange")[0])
$sub_flags(data.pop("MethodAccessflagsChange")[0])
$sub_signature(data.pop("MethodSignatureChange")[0])
$sub_throws(data.pop("MethodExceptionsChange")[0])
$sub_abstract(data.pop("MethodAbstractChange")[0])
$sub_deprecation(data.pop("MethodDeprecationChange")[0])
</table>

</div>
</div>
#end block



#block collect
<%
change = getattr(self, "change")
data = collect_by_typename(change.collect())
%>
<div class="collect">
$render_change(data.pop("MethodAnnotationsChange")[0])
$render_change(data.pop("MethodInvisibleAnnotationsChange")[0])
$render_change(data.pop("MethodCodeChange")[0])
</div>
#end block



#def sub_name(subch)
#set label = "Method Name"
#if subch.is_change()
<tr>
<th rowspan="2">$label</th>
<td><%= escape(subch.pretty_ldata()) %></td>
</tr>
<tr>
<td><%= escape(subch.pretty_rdata()) %></td>
</tr>
#else
<tr>
<th>$label</th>
<td><%= escape(subch.pretty_ldata()) %>
</tr>
#end if
#end def



#def sub_type(subch)
#set label = "Return Type"
#if subch.is_change()
<tr>
<th rowspan="2">$label</th>
<td><%= subch.pretty_ldata() %></td>
</tr>
<tr>
<td><%= subch.pretty_rdata() %></td>
</tr>
#else
<tr>
<th>$label</th>
<td><%= subch.pretty_ldata() %>
</tr>
#end if
#end def



#def sub_args(subch)
#set label = "Argument Types"
#if subch.is_change()
<tr>
<th rowspan="2">$label</th>
<td>(<%= ", ".join(subch.pretty_ldata()) %>)</td>
</tr>
<tr>
<td>(<%= ", ".join(subch.pretty_rdata()) %>)</td>
</tr>
#else
<tr>
<th>$label</th>
<td>(<%= ", ".join(subch.pretty_ldata()) %>)</td>
</tr>
#end if
#end def



#def sub_flags(subch)
#set label = "Method Flags"
#if subch.is_change()
<tr>
<th rowspan="2">$label</th>
<td><%= "0x%04x" % subch.get_ldata() %>:
    <%= " ".join(subch.pretty_ldata()) %></td>
</tr>
<tr>
<td class="is_changed">
<%= "0x%04x" % subch.get_rdata() %>:
<%= " ".join(subch.pretty_rdata()) %></td>
</tr>
#else
<tr>
<th>$label</th>
<td><%= "0x%04x" % subch.get_ldata() %>:
    <%= " ".join(subch.pretty_ldata()) %></td>
</tr>
#end if
#end def



#def sub_signature(subch)
#set label = "Generics Signature"
#if subch.is_change()
<tr>
<th rowspan="2">$label</th>
<td><%= escape(subch.pretty_ldata() or "(None)") %></td>
</tr>
<tr>
<td class="is_changed">
 <%= escape(subch.pretty_rdata() or "(None)") %></td>
</tr>
#elif subch.get_ldata()
<tr>
<th>$label</th>
<td><%= escape(subch.pretty_ldata()) %></td>
</tr>
#end if
#end def



#def sub_throws(subch)
#set label = "Exceptions"
#if subch.is_change()
<tr>
<th rowspan="2">$label</th>
<td>(<%= ", ".join(subch.pretty_ldata()) %>)</td>
</tr>
<tr>
<td class="is_changed">(<%= ", ".join(subch.pretty_rdata()) %>)</td>
</tr>
#elif subch.get_ldata()
<tr>
<th>$label</th>
<td>(<%= ", ".join(subch.pretty_ldata()) %>)</td>
</tr>
#end if
#end def



#def sub_abstract(subch)
#set label = "Abstract"
#if subch.is_change()
<tr>
<th rowspan="2">$label</th>
<td><%= subch.pretty_ldata() %></td>
</tr>
<tr>
<td class="is_changed"><%= subch.pretty_rdata() %></td>
</tr>
#elif subch.get_ldata()
<tr>
<th>$label</th>
<td><%= subch.pretty_ldata() %></td>
</tr>
#end if
#end def



#def sub_deprecation(subch)
#set label = "Deprecated"
#if subch.is_change()
<tr>
<th rowspan="2">$label</th>
<td><%= subch.pretty_ldata() %></td>
</tr>
<tr>
<td class="is_changed"><%= subch.pretty_rdata() %></td>
</tr>
#elif subch.get_ldata()
<tr>
<th>$label</th>
<td><%= subch.pretty_ldata() %></td>
</tr>
#end if
#end def



##
## The end.
