<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">



#def title
$change.__class__.__name__
#end def


<head>


#block head_title
<title>$title</title>
#end block


#block head_meta
#end block


#block head_stylesheets
#for ss in $stylesheets
<link rel="stylesheet" type="text/css" href="$ss" />
#end for
#end block


#block head_javascripts
#if not getattr($options, "html_no_jquery", False)
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
#end if
#for js in $javascripts
<script type="text/javascript" src="$js"></script>
#end for
#end block


#block head_extra
#end block


</head>


#block body
<body>


#block body_heading
<div id="report-heading">


#block body_breadcrumb
#from os.path import join
<ul class="breadcrumbs">
#for p,t in $breadcrumbs
<li><a href="<%= join(p,t+".html") %>"><%= t %></a></li>
#end for
<li>$title</li>
</ul>
#end block


<h1>$title</h1>
</div>
#end block


#block into
<div id="report-intro">
</div>
#end block


#block details
<div id="report-details">
#for $child in $change.collect()
$render_change($child)
#end for
</div>
#end block


#block outro
<div id="report-outro">
</div>
#end block


</body>
#end block


</html>


##
## The end.
