#extends change_SuperChange
#from xml.sax.saxutils import escape

#block description
<h2 id="$change.__class__.__name__">$change.label</h2>

<div class="description">
$escape($change.get_description())
</div>
#end block


##
## The end.
